<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja profilu</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/styles.css}"/>
</head>
<body>
<a href="/">
    <img class="mainImg" src="https://bootcamp.javastart.pl/img/javastart-logo.png"/>
</a>
<div class="mainPage">
<h1>Edycja profilu</h1>
<form th:action="@{/user/edytuj}" method="post">
    <label for="firstName">Imię:</label>
    <input type="text" id="firstName" name="firstName" th:value="${currentUser.firstName}" required /> <br/>
    <label for="lastName">Nazwisko:</label>
    <input type="text" id="lastName" name="lastName" th:value="${currentUser.lastName}" required /> <br/>
    <label for="password">Nowe Hasło:</label>
    <input type="password" id="password" name="newPassword" /> <br/>
    <input type="submit" value="Zapisz zmiany" />
</form>
    <a>
    <button onclick="history.back()">Wróć do strony profilu</button>
    </a>
</div>
</body>
</html>