<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resetowanie hasła</title>
    <link rel="stylesheet" type="text/css" th:href="@{../static/css/styles.css}"/>
</head>
<body>
<a href="/">
    <img class="mainImg" src="https://bootcamp.javastart.pl/img/javastart-logo.png"/>
</a>
<div class="mainPage">
<h1>Resetowanie hasła</h1>

<p>Link do resetu hasła został wysłany (o ile konto z takim adresem email istnieje)</p>
</div>
</body>
</html>